In [43]:
#dependencies 
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
#import regression line for last section
from scipy.stats import linregress

#path to data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

#read the data in csv reader
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# mouse_metadata
#study_results
#combine/merge into a single dataset 
# put study_results first so mouse Id and timepoint are next to one another
mouse_data = pd.merge(study_results, mouse_metadata)

# display the table for preview
mouse_data.head(10)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
5,b128,25,43.262145,1,Capomulin,Female,9,22
6,b128,30,40.605335,1,Capomulin,Female,9,22
7,b128,35,37.967644,1,Capomulin,Female,9,22
8,b128,40,38.379726,2,Capomulin,Female,9,22
9,b128,45,38.982878,2,Capomulin,Female,9,22

In [44]:
# checking the number of mice
merged_mice_count = mouse_data['Mouse ID'].nunique()
merged_mice_count

249

In [61]:
# getting the duplicate mice by ID number for Mouse ID
# and timepoint need to do a .loc function
# how to find duplicates in pandas https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.duplicated.html
#subset is ID and timepoints 
duplicate_df = mouse_data.loc[mouse_data.duplicated(subset=['Mouse ID', 'Timepoint']), "Mouse ID"].unique()  
duplicate_df

array(['g989'], dtype=object)

In [63]:
# create a clean df by dropping the duplicate mouse by its Mouse ID
# use .isin to take away the duplicated values in the main data frame that were identified in the duplicated_df
#.isin makes sure the values must match thus if you make it == False,it will remove the duplicates
# documentation: https://stackoverflow.com/questions/14057007/remove-rows-not-isinx/33642919
cleaned_mouse_data = mouse_data[mouse_data['Mouse ID'].isin(duplicate_df) == False]
cleaned_mouse_data.head(10)

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
5,b128,25,43.262145,1,Capomulin,Female,9,22
6,b128,30,40.605335,1,Capomulin,Female,9,22
7,b128,35,37.967644,1,Capomulin,Female,9,22
8,b128,40,38.379726,2,Capomulin,Female,9,22
9,b128,45,38.982878,2,Capomulin,Female,9,22

In [64]:
#check number of mice in new dataframe

cleaned_count = len(cleaned_mouse_data['Mouse ID'].unique()) 
cleaned_count

248

Summary Statistics

In [79]:
#list of all regimens
drug_regimens = cleaned_mouse_data['Drug Regimen'].unique()  
drug_regimens

array(['Capomulin', 'Ketapril', 'Naftisol', 'Infubinol', 'Stelasyn',
       'Ramicane', 'Zoniferol', 'Propriva', 'Placebo', 'Ceftamin'],
      dtype=object)

In [86]:
#generate summary statistics of mean, median, variance, st. dev, and SEM for each regimen (medication)
# create multiple series and put all together at end

# statistics for Capomulin
capo_stats = cleaned_mouse_data.loc[cleaned_mouse_data['Drug Regimen'] == 'Capomulin']   
capo_mean = capo_stats.mean()['Tumor Volume (mm3)']
capo_med = capo_stats.median()['Tumor Volume (mm3)']
capo_var = capo_stats.var()['Tumor Volume (mm3)']
capo_st_d = capo_stats.std()['Tumor Volume (mm3)']
capo_sem = capo_stats.sem()['Tumor Volume (mm3)']

capo_analysis = pd.DataFrame({"Tumor Mean": capo_mean, "Tumor Median": capo_med, "Tumor Variance":
                             capo_var, "Tumor Standard Deviation": capo_st_d, "SEM": capo_sem}, index=[0])  
capo_analysis

,Tumor Mean,Tumor Median,Tumor Variance,Tumor Standard Deviation,SEM
0,40.675741,41.557809,24.947764,4.994774,0.329346

In [88]:
#Ketapril analysis

# statistics for Ketapril
keta_stats = cleaned_mouse_data.loc[cleaned_mouse_data['Drug Regimen'] == 'Ketapril']   
keta_mean = keta_stats.mean()['Tumor Volume (mm3)']
keta_med = keta_stats.median()['Tumor Volume (mm3)']
keta_var = keta_stats.var()['Tumor Volume (mm3)']
keta_st_d = keta_stats.std()['Tumor Volume (mm3)']
keta_sem = keta_stats.sem()['Tumor Volume (mm3)']

keta_analysis = pd.DataFrame({"Tumor Mean": keta_mean, "Tumor Median": keta_med, "Tumor Variance":
                             keta_var, "Tumor Standard Deviation": keta_st_d, "SEM": keta_sem}, index=[0])  
keta_analysis

   Tumor Mean  Tumor Median  Tumor Variance  Tumor Standard Deviation      SEM
0   55.235638     53.698743       68.553577                  8.279709  0.60386

In [89]:
#Naftisol analysis 
# statistics for Naftisol
naft_stats = cleaned_mouse_data.loc[cleaned_mouse_data['Drug Regimen'] == 'Naftisol']   
naft_mean = naft_stats.mean()['Tumor Volume (mm3)']
naft_med = naft_stats.median()['Tumor Volume (mm3)']
naft_var = naft_stats.var()['Tumor Volume (mm3)']
naft_st_d = naft_stats.std()['Tumor Volume (mm3)']
naft_sem = naft_stats.sem()['Tumor Volume (mm3)']

naft_analysis = pd.DataFrame({"Tumor Mean": naft_mean, "Tumor Median": naft_med, "Tumor Variance":
                             naft_var, "Tumor Standard Deviation": naft_st_d, "SEM": naft_sem}, index=[0])  
naft_analysis

,Tumor Mean,Tumor Median,Tumor Variance,Tumor Standard Deviation,SEM
0,54.331565,52.509285,66.173479,8.134708,0.596466

In [90]:
#Infubinol analysis

# statistics for Infubinol
inf_stats = cleaned_mouse_data.loc[cleaned_mouse_data['Drug Regimen'] == 'Infubinol']   
inf_mean = inf_stats.mean()['Tumor Volume (mm3)']
inf_med = inf_stats.median()['Tumor Volume (mm3)']
inf_var = inf_stats.var()['Tumor Volume (mm3)']
inf_st_d = inf_stats.std()['Tumor Volume (mm3)']
inf_sem = inf_stats.sem()['Tumor Volume (mm3)']

inf_analysis = pd.DataFrame({"Tumor Mean": inf_mean, "Tumor Median": inf_med, "Tumor Variance":
                             inf_var, "Tumor Standard Deviation": inf_st_d, "SEM": inf_sem}, index=[0])  
inf_analysis

,Tumor Mean,Tumor Median,Tumor Variance,Tumor Standard Deviation,SEM
0,52.884795,51.820584,43.128684,6.567243,0.492236

In [91]:
#Stelasyn analysis
# statistics for Stelasyn
stel_stats = cleaned_mouse_data.loc[cleaned_mouse_data['Drug Regimen'] == 'Stelasyn']   
stel_mean = stel_stats.mean()['Tumor Volume (mm3)']
stel_med = stel_stats.median()['Tumor Volume (mm3)']
stel_var = stel_stats.var()['Tumor Volume (mm3)']
stel_st_d = stel_stats.std()['Tumor Volume (mm3)']
stel_sem = stel_stats.sem()['Tumor Volume (mm3)']

stel_analysis = pd.DataFrame({"Tumor Mean": stel_mean, "Tumor Median": stel_med, "Tumor Variance":
                             stel_var, "Tumor Standard Deviation": stel_st_d, "SEM": stel_sem}, index=[0])  
stel_analysis

,Tumor Mean,Tumor Median,Tumor Variance,Tumor Standard Deviation,SEM
0,54.233149,52.431737,59.450562,7.710419,0.573111

In [92]:
#Ramicane

# statistics for Ramicane
ram_stats = cleaned_mouse_data.loc[cleaned_mouse_data['Drug Regimen'] == 'Ramicane']   
ram_mean = ram_stats.mean()['Tumor Volume (mm3)']
ram_med = ram_stats.median()['Tumor Volume (mm3)']
ram_var = ram_stats.var()['Tumor Volume (mm3)']
ram_st_d = ram_stats.std()['Tumor Volume (mm3)']
ram_sem = ram_stats.sem()['Tumor Volume (mm3)']

ram_analysis = pd.DataFrame({"Tumor Mean": ram_mean, "Tumor Median": ram_med, "Tumor Variance":
                             ram_var, "Tumor Standard Deviation": ram_st_d, "SEM": ram_sem}, index=[0])  
ram_analysis

,Tumor Mean,Tumor Median,Tumor Variance,Tumor Standard Deviation,SEM
0,40.216745,40.673236,23.486704,4.846308,0.320955

In [93]:
#Zoniferol

# statistics for Zoniferol
zoni_stats = cleaned_mouse_data.loc[cleaned_mouse_data['Drug Regimen'] == 'Capomulin']   
zoni_mean = zoni_stats.mean()['Tumor Volume (mm3)']
zoni_med = zoni_stats.median()['Tumor Volume (mm3)']
zoni_var = zoni_stats.var()['Tumor Volume (mm3)']
zoni_st_d = zoni_stats.std()['Tumor Volume (mm3)']
zoni_sem = zoni_stats.sem()['Tumor Volume (mm3)']

zoni_analysis = pd.DataFrame({"Tumor Mean": zoni_mean, "Tumor Median": zoni_med, "Tumor Variance":
                             zoni_var, "Tumor Standard Deviation": zoni_st_d, "SEM": zoni_sem}, index=[0])  
zoni_analysis

,Tumor Mean,Tumor Median,Tumor Variance,Tumor Standard Deviation,SEM
0,40.675741,41.557809,24.947764,4.994774,0.329346

In [94]:
#Propriva

# statistics for Propriva
prop_stats = cleaned_mouse_data.loc[cleaned_mouse_data['Drug Regimen'] == 'Propriva']   
prop_mean = prop_stats.mean()['Tumor Volume (mm3)']
prop_med = prop_stats.median()['Tumor Volume (mm3)']
prop_var = prop_stats.var()['Tumor Volume (mm3)']
prop_st_d = prop_stats.std()['Tumor Volume (mm3)']
prop_sem = prop_stats.sem()['Tumor Volume (mm3)']

prop_analysis = pd.DataFrame({"Tumor Mean": prop_mean, "Tumor Median": prop_med, "Tumor Variance":
                             prop_var, "Tumor Standard Deviation": prop_st_d, "SEM": prop_sem}, index=[0])  
prop_analysis

,Tumor Mean,Tumor Median,Tumor Variance,Tumor Standard Deviation,SEM
0,52.32093,50.446266,43.852013,6.622085,0.544332

In [95]:
#Placebo

# statistics for placebo
placebo_stats = cleaned_mouse_data.loc[cleaned_mouse_data['Drug Regimen'] == 'Placebo']   
placebo_mean = placebo_stats.mean()['Tumor Volume (mm3)']
placebo_med = placebo_stats.median()['Tumor Volume (mm3)']
placebo_var = placebo_stats.var()['Tumor Volume (mm3)']
placebo_st_d = placebo_stats.std()['Tumor Volume (mm3)']
placebo_sem = placebo_stats.sem()['Tumor Volume (mm3)']

placebo_analysis = pd.DataFrame({"Tumor Mean": placebo_mean, "Tumor Median": placebo_med, "Tumor Variance":
                             placebo_var, "Tumor Standard Deviation": placebo_st_d, "SEM": placebo_sem}, index=[0])  
placebo_analysis

,Tumor Mean,Tumor Median,Tumor Variance,Tumor Standard Deviation,SEM
0,54.033581,52.288934,61.168083,7.821003,0.581331

In [96]:
#Ceftamin

# statistics for Ceftamin
ceft_stats = cleaned_mouse_data.loc[cleaned_mouse_data['Drug Regimen'] == 'Ceftamin']   
ceft_mean = ceft_stats.mean()['Tumor Volume (mm3)']
ceft_med = ceft_stats.median()['Tumor Volume (mm3)']
ceft_var = ceft_stats.var()['Tumor Volume (mm3)']
ceft_st_d = ceft_stats.std()['Tumor Volume (mm3)']
ceft_sem = ceft_stats.sem()['Tumor Volume (mm3)']

ceft_analysis = pd.DataFrame({"Tumor Mean": ceft_mean, "Tumor Median": ceft_med, "Tumor Variance":
                             ceft_var, "Tumor Standard Deviation": ceft_st_d, "SEM": ceft_sem}, index=[0])  
ceft_analysis

,Tumor Mean,Tumor Median,Tumor Variance,Tumor Standard Deviation,SEM
0,52.591172,51.776157,39.290177,6.268188,0.469821

In [107]:
#create a summary statistics table of all regimens in a groupby function using Regimen
#will only need the mouse ID regimen and tumor volume
regimen_stat_df = cleaned_mouse_data.loc[:,['Mouse ID', 'Drug Regimen', 'Tumor Volume (mm3)']] 
regimen_stat_df

#DON'T FORGET TO PUT THE SPACE BETWEEN VOLUMEN AND (MM3)!!
regimen_mean = regimen_stat_df.groupby(['Drug Regimen']).mean()['Tumor Volume (mm3)'] 
regimen_med = regimen_stat_df.groupby(['Drug Regimen']).median()['Tumor Volume (mm3)'] 
regimen_var = regimen_stat_df.groupby(['Drug Regimen']).var()['Tumor Volume (mm3)']
regimen_st_d = regimen_stat_df.groupby(['Drug Regimen']).std()['Tumor Volume (mm3)']
regimen_sem = regimen_stat_df.groupby(['Drug Regimen']).sem()['Tumor Volume (mm3)']

#regimen_med
# #put all the info into new data frame

#no need to add index=[0] at the end of the dictionary list because it is already being grouped by Drug Regimen
group_regimen_df = pd.DataFrame({"Tumor Mean": regimen_mean, "Tumor Median": regimen_med, "Tumor Variance":
                                regimen_var, "Tumor Standard Deviation": regimen_st_d, "SEM": regimen_sem})   
group_regimen_df

,Tumor Mean,Tumor Median,Tumor Variance,Tumor Standard Deviation,SEM
Drug Regimen,,,,,
Capomulin,40.675741,41.557809,24.947764,4.994774,0.329346
Ceftamin,52.591172,51.776157,39.290177,6.268188,0.469821
Infubinol,52.884795,51.820584,43.128684,6.567243,0.492236
Ketapril,55.235638,53.698743,68.553577,8.279709,0.603860
Naftisol,54.331565,52.509285,66.173479,8.134708,0.596466
Placebo,54.033581,52.288934,61.168083,7.821003,0.581331
Propriva,52.320930,50.446266,43.852013,6.622085,0.544332
Ramicane,40.216745,40.673236,23.486704,4.846308,0.320955
Stelasyn,54.233149,52.431737,59.450562,7.710419,0.573111
Zoniferol,53.236507,51.818479,48.533355,6.966589,0.516398

Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas. 
#do NOT make a bar chart for each regimen